@using WoodMasters2.Core.Models.Comments
@model CommentFormModel

@{
    ViewBag.Title = "Add Comment";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="row">
    <form method="post">
        <div class="form-group">
            
            <div class="mb-3">
                <label asp-for="Content"></label>
                <input asp-for="Content" class="form-control" placeholder="Write your comment here...">
                <span asp-validation-for="@Model.Content" class="small text-danger"></span>
            </div>
        </div>
        <input class="btn btn-primary mt-3" type="submit" value="Add" />
    </form>
</div>

@section Scripts
{
    <partial name="_ValidationScriptsPartial"/>
}

