@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>1.The site is with MIT license.</p>
<p>2.It is just a free project for SoftUni ASP.NET exam purpose.</p>
<p>3.You can use the code at your own risk.</p>
<p>4.Have a nice day! :)</p>


